<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <!-- Bootstrap, JS and CSS -->
        {% load static %}
        {% load bootstrap4 %}       {# import bootstrap4 #}
        {% bootstrap_css %}         {# Embed Bootstrap CSS #}
        {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
        {{ form.media }}            {# Adds date-picker required JS and CSS #}
        <script src="https://api-maps.yandex.ru/2.1/?apikey={{ yandex_api_key }}&lang=ru_RU" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.4/dist/latest/bootstrap-autocomplete.min.js"></script>
        <link rel="stylesheet" href={% static "home.css" %}>
        <script type="text/javascript" src={% static "covid_alert.js" %} ></script>
        <title>WEEKEND TRIPS HOME</title>
    </head>
    <body id="body_section">
        <header style="position: fixed; z-index: 10; width: 100%">
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">That's the service that helps you find your weekend trip!</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Like hell you'll get any!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="../home/?task_id={{ task_id }}" class="navbar-brand d-flex align-items-center">
                    <strong>Weekend Trips!</strong>
                </a>
                <div align="left">
                    {% if are_previous_results_available %}
                        <form style="float: left; margin-right: 5px" action="../results/" method="get">
                            <input type="hidden" name="task_id" value="{{ task_id }}">
                            <button class="btn btn-primary" type="submit">Show my previous search</button>
                        </form>
                    {% endif %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
            <div class="alert alert-warning alert-dismissible fade show">
                <h6 align="center" class="alert-heading"><i class="fa fa-warning"></i> Warning!</h6>
                <p align="center">Though it's painful to say, but trips are not safe now due to Covid-19 spread.
                    Please stay at home and stay safe!</p>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        </header>
        <main class="container" style="padding-top: 10%; padding-bottom: 2%">
            <div class="row">
                <div id="main_section">
                    <form action="" method="post">
                        {% csrf_token %}
                        <table class="table">
                            <thead class="thead-dark">
                                <tr><th>Search parameters</th></tr>
                            </thead>
                            <tbody>
                                <tr><td><strong>Chose your dates:</strong></td></tr>
                                <tr><td>{{ form.start_date }} </td></tr>
                                <tr><td>{{ form.end_date }}</td></tr>
                                <tr><td hidden="true"><strong>State persons count:</strong></td></tr>
                                <tr><td>{{ form.persons_count }}</td></tr>
                                <tr><td><strong>Your allowance (RUB):</strong></td></tr>
                                <tr><td>{{ form.max_price }}</td></tr>
                                <tr><td><strong>Type departure city:</strong></td></tr>
                                <tr><td>{{ form.departure_city }}</td></tr>
                                <tr><td><strong>How much are you ready to spend on road?</strong></td></tr>
                                <tr><td>{{ form.time_for_travel }}</td></tr>
                                <tr><td align="center"><button id="Search" type="submit" class="btn btn-primary">Find my trip!</button></td></tr>
                            </tbody>
                        </table>
                    </form>
                    {% if form_error_message != '' %}
                        <p align="center"><label id="error_label">{{ form_error_message }}</label></p>
                    {% endif %}
                </div>
                <div id="maps_section">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Maps</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div id="map" style="width: 100%;"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <div id="footer" align="center">
            <hr>
            Copyright &copy; WeekendTrip!
        </div>
    </body>
    <script type="text/javascript" src={% static "load_maps.js" %}></script>
    <script>
        $('#id_start_date').datetimepicker({
            locale: 'ru',
            format: 'YYYY-MM-DD',
            daysOfWeekDisabled: [1, 2, 3, 4],
            showTodayButton: false,
            showClose: false,
            showClear: false
        });
        $('#id_end_date').datetimepicker({
            locale: 'ru',
            format: 'YYYY-MM-DD',
            daysOfWeekDisabled: [1, 2, 3, 4],
            showTodayButton: false,
            showClose: false,
            showClear: false
        });

        $('#id_start_date').data('DateTimePicker').date($('#id_start_date')[0].attributes['value'].nodeValue)
        $('#id_end_date').data('DateTimePicker').date($('#id_end_date')[0].attributes['value'].nodeValue)
        $('#id_start_date').on('dp.change',function(e) {
            $('#id_end_date').data('DateTimePicker').minDate(e.date);
            $('#id_start_date')[0].attributes['value'].nodeValue = e.date.format(e.date._f);
        });
        $('#id_end_date').on('dp.change',function(e) {
            $('#id_start_date').data('DateTimePicker').maxDate(e.date);
            $('#id_end_date')[0].attributes['value'].nodeValue = e.date.format(e.date._f);
        });
    </script>
    <script>
        $('.basicAutoComplete').autoComplete({
            minLength: 0,
            resolverSettings: {
                url: "/get_cities/",
            }
        });
    </script>
    <script>
        get_height_for_maps();
        function get_height_for_maps() {
            let h = document.getElementById('main_section').offsetHeight - document.getElementsByClassName('thead-dark')[0].offsetHeight;
            document.getElementById('map').style.height = (h - 20).toString() + 'px';
        }
    </script>
</html>