<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <!-- Bootstrap, JS and CSS -->
        {% load static %}
        {% load bootstrap4 %}       {# import bootstrap4 #}
        {% bootstrap_css %}         {# Embed Bootstrap CSS #}
        {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
        {{ form.media }}            {# Adds date-picker required JS and CSS #}
        <script src="https://api-maps.yandex.ru/2.1/?apikey={{ yandex_api_key }}&lang=ru_RU" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.4/dist/latest/bootstrap-autocomplete.min.js"></script>
        <link rel="stylesheet" href={% static "home.css" %}>
        <script type="text/javascript" src={% static "covid_alert.js" %} ></script>
        <title>WEEKEND TRIPS HOME</title>
    </head>
    <body id="body_section">
        <h1 align="center">Weekend Trips!</h1>
        <div class="container">
        <div id="main_section">
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tbody>
                        <tr><td>
                            <div class="alert alert-warning alert-dismissible fade show">
                            <h4 class="alert-heading"><i class="fa fa-warning"></i> Warning!</h4>
                            <p>Though it's painful to say, but trips are not safe now due to Covid-19 spread.
                                Please stay at home and stay safe!</p>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        </td></tr>
                        <tr><td>Chose your dates:</td></tr>
                        <tr><td>{{ form.start_date }}</td></tr>
                        <tr><td>{{ form.end_date }}</td></tr>
                        <tr><td hidden="true">State persons count:</td></tr>
                        <tr><td>{{ form.persons_count }}</td></tr>
                        <tr><td>Your allowance (RUB):</td></tr>
                        <tr><td>{{ form.max_price }}</td></tr>
                        <tr><td>Type departure city:</td></tr>
                        <tr><td>{{ form.departure_city }}</td></tr>
                        <tr><td>You expect to spent on a road:</td></tr>
                        <tr><td>{{ form.time_for_travel }}</td></tr>
                        <tr></tr>
                        <tr><td align="center"><button id="Search" type="submit" class="btn btn-primary">Find my trip!</button></td></tr>
                    </tbody>
                </table>
            </form>
            {% if form_error_message == '' %}
                <p align="center"></p>
            {% else %}
                <p align="center"><label id="error_label">{{ form_error_message }}</label></p>
            {% endif %}
            {% if are_previous_results_available %}
                <table><tbody>
                    <tr><td><label>We have your previous search results. Wanna see them?</label></td></tr>
                    <tr><td align="center">
                        <form action="results/" method="get">
                            <button class="btn btn-primary" type="submit">Show my previous search</button>
                        </form>
                    </td></tr>
                </tbody></table>
            {% endif %}
        </div>
        <div id="maps_section">
            <div id="map" style="width: 600px; height: 500px"></div>
        </div>
        </div>
    </body>
    <script type="text/javascript" src={% static "load_maps.js" %}></script>
    <script>
        $('.basicAutoComplete').autoComplete({
            minLength: 0,
            resolverSettings: {
                url: "/get_cities/",
            }
        });
    </script>
</html>