<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap, JS and CSS -->
        {% load static %}
        {% load bootstrap4 %}       {# import bootstrap4 #}
        {% bootstrap_css %}         {# Embed Bootstrap CSS #}
        {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
        {{ form.media }}            {# Adds date-picker required JS and CSS #}
        <link rel="stylesheet" href={% static "loading_ring_stylesheet.css" %}>
        <title>WEEKEND TRIPS HOME</title>
    </head>
    <body>
        <div id="main_form">
            <h1 align="center">Weekend Trips</h1>
            <form action="" method="post">
                {% csrf_token %}
                <table align="center" style="background-color: lavender" width="400px">
                    <tbody>
                        <tr><td>The closest weekend dates:</td></tr>
                        <tr><td>{{ form.start_date }}</td></tr>
                        <tr><td>{{ form.end_date }}</td></tr>
                        <tr><td>State persons count:</td></tr>
                        <tr><td>{{ form.persons_count }}</td></tr>
                        <tr><td>Your allowance:</td></tr>
                        <tr><td>{{ form.max_price }}</td></tr>
                        <tr><td>Type departure city:</td></tr>
                        <tr><td>{{ form.departure_city }}</td></tr>
                        <tr><td>You expect to spent on a road:</td></tr>
                        <tr><td>
                            {% for check in form.time_for_travel %}
                                <div onchange="AreCheckboxesValid()" class="checkbox">
                                    {{ check }}
                                </div>
                            {% endfor %}
                        </td></tr>
                        <tr></tr>
                        <tr><td align="center"><button id="Search" type="submit" class="btn btn-primary">Find my trip!</button></td></tr>
                    </tbody>
                </table>
            </form>
            {% if form_error_message == '' %}
                <p align="center"></p>
            {% else %}
                <p align="center"><label id="error_label">{{ form_error_message }}</label></p>
            {% endif %}
            {% if are_previous_results_available %}
                <table align="center" style="background-color: lavender" width="400px"> <tbody>
                    <tr><td><label>We have your previous search results. Wanna see them?</label></td></tr>
                    <tr><td align="center">
                        <form action="results/" method="get">
                            <button class="btn btn-primary" type="submit">Show my previous search</button>
                        </form>
                    </td></tr>
                </tbody></table>
            {% endif %}
        </div>
        <script>
            function AreCheckboxesValid() {
                let checks = document.getElementsByName('time_for_travel')
                let is_any_checked = false
                for(let i = 0; i < checks.length; i++) {
                    is_any_checked = is_any_checked || checks[i].checked
                }
                document.getElementById('Search').hidden = !is_any_checked

                if( is_any_checked == false ) {
                    alert('At least one checkbox must be selected!')
                }
            }
        </script>
    </body>
</html>