#body_section {
    background-color: #f8f9fa;
}

#ok_section {
    align-content: center;
    display: none;
}

#try_another {
    display: none;
}

#results_section {
    background-color: #f8fffb;
    margin: 0 5%;
    width: 90%;
    position: relative;
    word-wrap: break-word;
    background-clip: border-box;
    border: 3px solid
    rgba(0,0,0,.125);
    border-radius: .25rem;
    display: none;
}

.table {
    background-color: white;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 98%;
    height: 30%;
    background-clip: border-box;
    box-shadow: 0 .125rem .25rem
    rgba(0,0,0,.075) !important;
    border: 1px solid
    rgba(0,0,0,.125);
    border-radius: .25rem;
    display: none;
    padding: .25rem;
    line-height: 1;
}