#body_section {
    background-color: #fafafe;
}

#ok_section {
    align-content: center;
    display: none;
}

#try_another {
    background-color: #f8fffb;
    margin: 0 5%;
    width: 90%;
    position: relative;
    word-wrap: break-word;
    background-clip: border-box;
    border: 3px solid
    rgba(0,0,0,.125);
    border-radius: .25rem;
    display: none;
}

#results_section {
    background-color: #f8fffb;
    margin: 0 5%;
    width: 90%;
    height: 600px;
    position: relative;
    word-wrap: break-word;
    background-clip: border-box;
    border: 3px solid
    rgba(0,0,0,.125);
    border-radius: .25rem;
    display: none;
    overflow: auto;
}

.table {
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 98%;
    height: 30%;
    background-clip: border-box;
    border: 3px solid
    rgba(0,0,0,.125);
    border-radius: .25rem;
    display: none;
}